/* Color Palette
#0b090a;
#161a1d;
#660708;
#a4161a;
#ba181b;
#e5383b;
#b1a7a6;
#d3d3d3;
#f5f3f4;
#ffffff; */

footer          {
                text-align: center;
                background-color:#161a1d;
                width:100%;
                position:fixed;
                left: 0;
                bottom: 0;
                }

body            {
                background-color: #660708;
                color: white;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin:70px 10px 10px 10px;
                padding-bottom: 50px;
                }

main            {
                text-align: center;
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                justify-content: center;
                }  

.center         {
                text-align: center;
                background-color: #ba181b;
                }

.content        {
                border-color: #a4161a;
                border-width: 2px;
                border-style: outset;
                background-color: #a4161a;
                padding: 4px;
                width: 46%;
                }

header          {
                background-color:#161a1d;
                font-size: 30px;
                display: flex;
                width:100%;
                padding:5px;
                position: fixed;
                justify-content: space-between; right:0;
                left:0;
                top:0;
                }

header p        {
                margin: 5px
                }

header a        {
                color:#f5f3f4;
                }

header a:hover  {
                font-weight: bold;
                }

.name           {
                display:block;
                }

.links          {
                margin-right: 20px;
                display:block;
                } 


